parameters:
    paths:
        - app/
        - database/
        - routes/

    # Level 9 is the highest level
    level: 9

    ignoreErrors:
        # Allow dynamic property access (Laravel magic properties)
        - '#Access to an undefined property|Undefined property#'

    excludePaths:
        - %currentWorkingDirectory%/tests/
